p.lead b {
    font-weight: 700;
    color: black;
}

.products-link {
    font-weight: 700;
    color: #007CDF;
    text-decoration: none;
}

a.products-link{
    text-decoration: none;
}


h2.product-title {
     line-height:40px;
}