/* src/styles.css */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.remove-arrow::-webkit-inner-spin-button, 
.remove-arrow::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
} 

.remove-arrow { 
    -moz-appearance: textfield; 
    appearance: textfield; 
} 

@layer base {
    html {
        font-family: "MontserratRegular", system-ui, sans-serif;
    }
}