DB_TYPE=sqlite
DB_CONNECTION_STRING=bantupay.sqlite
DB_AUTOMIGRATE=1
ORGANISATION='bantupay'
VERIFICATION_CODE_SALT=WhateverYouWant

SMTP_HOST=smtp.mailtrap.io
SMTP_PORT=465
SMTP_PASSWORD=password
SMTP_USERNAME=username

MAIL_FROM=test@test.com

EXPANSION_URL=https://expansion-test.com
BLOCKCHAIN_NETWORK_PASSPHRASE=EXAMPLE PASSPHRASE
BLOCKCHAIN_BASE_RESERVE=1

MNEMONIC_TEMP_ACCOUNTS = 24 words sha

DOLLAR_ASSET=USDB:GBTNUZDIUMWZEGTNQCL5F73PIABCBJ4YQA2VJS7HXTBRDDSTWCE6UNXE
IPAPI_HOST=
IPAPI_KEY=
DB_AUTOMIGRATE=1
ENABLE_OLD_USER_MIGRATION=1
XBN_FAUCET=
REWARD_FAUCET=
REWARD_ISSUER=GBNRQ56XX4JA3HKXP7EACLLXYPHCYCWBWOQZYSPGUIJSR5JSAD22EZXG
REWARD_ASSET_CODE=BNR
ENABLE_REFERRAL_REWARD=
REFERRAL_REWARD_AMOUNT=

ENABLE_CACHING=
REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=
FBDL_SERVICE_URLS=
NATIVE_ASSET_CODE=GAS